{% extends 'core/base.html' %}
{% load possession %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 m-lg-4">
                <h3 class="my-4">Change {{ username|possession }} password</h3>
                <form method="post">{% csrf_token %}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <input type="hidden" name="username" value="{{ username }}">
                    {{ form.as_p }}
                    <div class="text-left">
                        <a href="{% url 'users:update' username %}" class="btn btn-outline-danger">Cancel</a>
                        <input type="submit" class="btn btn-info" value="Change"/>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}